.dashboard-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  display: inside;
}
.dashboard-components-container {
  display: inside;
  text-align: left;
  background-color: aquamarine;
}

.barChart {
  display: flex;
  background-color: aqua;
  width: 90%;
  height: 50%;
  float: left;
  margin-left: 200px;
  box-shadow: 1px;
}

.SavingsbarChart {
  background-color: white;
  margin-top: 0px;
  margin-left: 200px;
  padding: 30px;
  justify-content: center;
  justify-items: center;
  text-align: left;
}
h1 {
  color: white;
}

.Savings {
  color: black;
  margin-left: -650px;
}
