.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}


.main-container {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 200px; /* height of footer */
}





/* ------------------------CUSTOM------------------------ */
